body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #333;
    background: white;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-bottom: 80px; 
}
  
a {
   text-decoration: none;
   color: #333;
}
  
img {
   width: 100%;
   height: 100%;
   object-fit: cover; 
   display: block;
}

.logo {
   color: black;
}
  
.nav{
   margin-top: 20px;
   margin-left : 385px;
}
  
.logo ion-icon {
   margin-top: 13px;
   font-size: 35px;
}

.nav a {
   margin: 30px;
   font-weight: 500;
   font-size: 1rem;
   transition: transform 0.3s ease, color 0.3s ease, background-color 0.3s ease; 
   position: relative;
   padding-left: 30px;
   padding-right: 30px;
   padding-top: 10px;
   padding-bottom: 10px; 
   border-radius: 20px;
   font-weight: bold;
}
  
.nav a:hover {
   color: black;
   background-color: white;
   padding-left: 30px;
   padding-right: 30px;
   transform: scale(1.1); 
}
  
.shop{
   color: black;
   background-color: white;
   transform: scale(1.1);
}

.icons{
   margin-top: 22px;
}
  
.icons a {
   font-size: 18px; 
   color: black; 
   text-decoration: none; 
   margin-right: 15px; 
}

.separator {
   color: black; 
   font-size: 25px; 
   margin-right: 15px; 
}
  
.icons a:hover, .separator:hover {
   color: gray; 
}
    
.main-banner {
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative; 
   top: 0;
   left: 0;
   height: 100%; 
   width: 100%; 
   z-index: 10; 
   text-align: center;
}

.banner-content {
   color: #fff;
   z-index: 2;
   top: 50%; 
   left: 50%; 
   transform: translate(-50%, -50%); 
   width: 80%;
   padding: 0 2rem; 
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
}

.banner-content h1 {
   font-family: 'Playfair Display', serif;
   font-size: 100px;
   margin-right: 500px;
   text-align: left;
   line-height: 1.2; 
   color: black;
   margin-bottom: 0;
}

.banner-content h1 span {
   display: block; 
}

.banner-content p {
   font-size: 1.5rem; 
   margin: 1rem 0;
   line-height: 1.5;
   margin-right: 670px;
   margin-top: 0;
   margin-bottom: 0;
}

.ribbon {
   position: absolute;
   top: 0; 
   left: 0; 
   margin-bottom: 0px;
   padding: 10px 0; 
   width: 100%; 
   height: 85px; 
   background-color: #cdd0da; 
   z-index: 998; 
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}
  
.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1rem 2rem;
   position: sticky;
   top: 0;
   z-index: 1000;
   position: relative;
   width: 96%;
}
  
main {
   margin-top: 20px;
   display: flex;
   gap: -5px;
   padding: 20px;
   align-items: flex-start;  
}

.filter-container {
   font-family: 'Roboto', sans-serif;
   padding: 20px;
  
}
  
.filter-title {
   font-size: 18px;
   font-weight: bold;
   margin-bottom: 20px;
}

h2 {
   font-size: 24px;
   font-family: 'Roboto', sans-serif;
   margin-bottom: 30px;
}
    
h3 {
   font-size: 18px;
   font-weight: bold;
   margin: 0;
}
    
.filter-section {
   margin-bottom: 20px;
}
    
.filter-section h3 {
   font-size: 16px;
   font-weight: bold;
   margin-bottom: 10px;
   cursor: pointer;
}

.filter-options {
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
}
    
.filter-option {
   padding: 5px 10px;
   border: 1px solid #000;
   border-radius: 3px;
   font-size: 14px;
   text-align: center;
   cursor: pointer;
}


.button-value:hover {
   background-color: #f0f0f0;
}
    
.button-value {
   background-color: #f4f4f4;
   border: 1px solid #ccc;
   color: #333;
   padding: 5px 5px;
   margin: 5px;
   margin-right:10px;
   border-radius: 5px;
   cursor: pointer;
   transition: background-color 0.3s, color 0.3s;
}
    
.button-value:hover {
   background-color: #ddd;
}
    
.button-value.active {
   background-color: #333;
   color: #fff;
   border-color: #333;
}
    