body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #333;
    background: white;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-bottom: 80px; 
}
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.about-section {
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.about-icon {
    font-size: 24px;
    margin-right: 10px;
}


a {
   text-decoration: none;
   color: #333;
}


.nav{
   margin-top: 20px;
   margin-left : 385px;
}

.logo ion-icon {
   margin-top: 13px;
   font-size: 35px;
}

.nav a {
   margin: 30px;
   font-weight: 500;
   font-size: 1rem;
   transition: transform 0.3s ease, color 0.3s ease, background-color 0.3s ease; 
   position: relative;
   padding-left: 30px;
   padding-right: 30px;
   padding-top: 10px;
   padding-bottom: 10px; 
   border-radius: 20px;
   font-weight: bold;
}


.nav a:hover {
    color: black;
    background-color: white;
    padding-left: 30px;
    padding-right: 30px;
    transform: scale(1.1); 
 }
 
 .about{
    color: black;
    background-color: white;
    transform: scale(1.1);
 }
 
 
 #search-input {
   display: none;
   position: absolute;
   right: 170px; 
   top: 65%; 
   transform: translateY(-50%);
   padding: 5px 10px;
   border: 1px solid #ccc;
   border-radius: 20px;
   font-size: 1rem;
   width: 200px;
   outline: none;
   z-index: 1000;
   transition: opacity 0.3s ease, visibility 0.3s ease;
 }
 
 #search-input.visible {
   display: block;
   opacity: 1;
   visibility: visible;
 }

 
.hidden {
    opacity: 0;
    visibility: hidden;
  }
  
  #search-icon {
    cursor: pointer;
  }
  
  
  .icons{
     margin-top: 22px;
  }
  
  .icons a {
     font-size: 18px; 
     color: black; 
     text-decoration: none; 
     margin-right: 15px; 
  }
  
  .separator {
     color: black; 
     font-size: 25px; 
     margin-right: 15px; 
  }
  
  .icons a:hover, .separator:hover {
     color: rgb(15, 57, 112); 
  }
  

  
.main-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
    top: 0;
    left: 0;
    height: 100%; 
    width: 100%; 
    z-index: 10; 
    text-align: center;
 }
 
 .banner-content {
    color: #fff;
    z-index: 2;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    width: 80%;
    padding: 0 2rem; 
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
 }
 
 .banner-content h1 {
    font-family: 'Playfair Display', serif;
    font-size: 100px;
    margin-right: 500px;
    text-align: left;
    line-height: 1.2; 
    color: black;
    margin-bottom: 0;
 }
 
 .banner-content h1 span {
    display: block; 
 }
 
 .banner-content p {
    font-size: 1.5rem; 
    margin: 1rem 0;
    line-height: 1.5;
    margin-right: 670px;
    margin-top: 0;
    margin-bottom: 0;
 }
 
 .ribbon {
    position: absolute;
    top: 0; 
    left: 0; 
    margin-bottom: 0px;
    padding: 10px 0; 
    width: 100%; 
    height: 85px; 
    background-color: #cdd0da; 
    z-index: 998; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
 }
 
 .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    z-index: 1000;
    position: relative;
    width: 96%;
 }
 
 main {
    margin-top: 20px;
    display: flex;
    gap: -5px;
    padding: 20px;
    align-items: flex-start;
 }