body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #333;
    background: gray;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-bottom: 80px; 
}
